{{- $config := dict -}}
{{- $fzf_tab_completion := dict
    "type" "archive"
    "url" (printf "https://codeload.github.com/lincheney/fzf-tab-completion/zip/%s" .fzf_plugins_data.fzf_tab_completion.sha)
    "exact" true
    "stripComponents" 1
-}}
{{- $fzf_tab := dict
    "type" "archive"
    "url" (printf "https://codeload.github.com/Aloxaf/fzf-tab/zip/%s" .fzf_plugins_data.fzf_tab.sha)
    "exact" true
    "stripComponents" 1
-}}
{{- $_ := set $config ".dotfiles/external/fzf-tab-completion" $fzf_tab_completion -}}
{{- $_ := set $config ".dotfiles/external/fzf-tab" $fzf_tab -}}
{{- toToml $config -}}
