# Git configuration managed by chezmoi
# This file sources all individual config snippets

# Core configuration (all profiles)
[include]
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/core.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/color.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/diff.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/fetch.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/merge.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/pull.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/push.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/rebase.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/rerere.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/stash.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/branch.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/column.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/aliases.gitconfig

# Profile-specific configuration
{{- if eq .profile "personal" }}
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/user.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/github.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/gpg.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/init.gitconfig
  path = {{ .chezmoi.homeDir }}/.dotfiles/git/snippets/commit.gitconfig
{{- end }}
