[core]
	# Documentation: https://git-scm.com/docs/git-config#Documentation/git-config.txt-coreeditor
{{- if or (lookPath "nvim") (ne (dig "local" "bin" "nvim" "installation_method" "none" $) "none") }}
	editor = nvim
{{- else if lookPath "vim" }}
	editor = vim
{{- end }}
	# Documentation: https://git-scm.com/docs/git-config#Documentation/git-config.txt-coreautocrlf
	autocrlf = input
	# Documentation: https://git-scm.com/docs/git-config#Documentation/git-config.txt-coreexcludesFile
	excludesFile = ~/.dotfiles/git/snippets/gitignore_global
	# Documentation: https://git-scm.com/docs/git-config#Documentation/git-config.txt-corefsmonitor
	fsmonitor = true
