{{- $personal := dig "git" "personal" (dict) . }}
{{- if dig "enabled" false $personal }}
{{- if not (and $personal.name $personal.email) }}
{{- fail "git.personal.enabled is true but name or email is empty" }}
{{- end }}

[user]
  name = {{ $personal.name | quote }}
  email = {{ $personal.email | quote }}
{{- if $personal.signing_key }}
  signingkey = {{ $personal.signing_key }}
{{- end }}

[commit]
{{- if $personal.signing_key }}
  gpgsign = true
{{- else }}
  gpgsign = false
{{- end }}

[gpg]
  program = gpg
{{- end }}