version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      time: "08:00"
    open-pull-requests-limit: 10
    groups:
      github-actions:
        patterns:
          - "*"
    reviewers:
      - "mkobit"
    assignees:
      - "mkobit"
    commit-message:
      prefix: "chore(deps)"
      include: "scope"
