root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space

[*.{kt,kts}]
indent_size = 2
# https://stackoverflow.com/questions/59849619/intellij-does-not-sort-kotlin-imports-according-to-ktlints-expectations and https://youtrack.jetbrains.com/issue/KT-10974
disabled_rules=import-ordering
