-- Neovim configuration managed by chezmoi
-- Combined from chezmoitemplates

{{ template "nvim/base.lua" . }}
{{ template "nvim/editing.lua" . }}
{{ template "nvim/indentation.lua" . }}
{{ template "nvim/navigation.lua" . }}
{{ template "nvim/search.lua" . }}
{{ template "nvim/ui.lua" . }}
{{ template "nvim/plugins.lua" . }}
