{{- $platform := printf "%s_%s" .chezmoi.os .chezmoi.arch -}}
{{- $base     := dig "github_releases" "base_url" "https://github.com" . -}}
{{- $method   := dig "nvim" (dict) $.local.bin | dig "installation_method" "none" -}}
{{- if eq $method "github_releases" -}}
{{- includeTemplate "bin/github-releases-entry.tmpl" (dict "name" "nvim" "tool" .bin.nvim "platform" $platform "base" $base) -}}
{{- end -}}
