{{- if eq .asdf.installation "external-sources" }}
#
# asdf version manager setup (pre-compiled binary installation)
#
# - asdf binary is installed to ~/.local/bin via chezmoi externals
# - Uses XDG_DATA_HOME for asdf data directory (plugins, installs, shims)
# - Adds asdf shims directory to PATH for tool access
#
# Reference: https://asdf-vm.com/guide/getting-started.html

# Use XDG Base Directory specification for asdf data
export ASDF_DATA_DIR="${ASDF_DATA_DIR:-${XDG_DATA_HOME:-$HOME/.local/share}/asdf}"

# Add asdf shims to PATH
if [ -d "$ASDF_DATA_DIR/shims" ]; then
  export PATH="$ASDF_DATA_DIR/shims:$PATH"
fi
{{- end }}