[user]
	name = mkobit
	email = mkobit@users.noreply.github.com

[safe]
	directory = /workspace
	directory = /home/agent

[commit]
	gpgsign = false

[tag]
	gpgsign = false

[init]
	defaultBranch = main
