{{/* Vim configuration managed by chezmoi */}}
{{/* Auto-sources all .vim files in snippets directory */}}

" Source all snippet files
{{- range glob (print .chezmoi.homeDir "/.dotfiles/vim/snippets/*.vim") }}
source {{ . }}
{{- end }}