{{/* Vim configuration managed by chezmoi */}}
{{/* Auto-sources all .vim files in snippets directory */}}

" Source all vim files from dotfiles directory structure
{{- $targetDir := dir .chezmoi.targetFile }}
{{- $sourceDir := print .chezmoi.sourceDir "/" (dir .chezmoi.sourceFile) }}
{{- range $subdir := glob (print $sourceDir "/*/") }}
{{- $subdirName := base $subdir }}
{{- range $file := glob (print $subdir "/**/*.vim") }}
source {{ $targetDir }}/{{ $subdirName }}/{{ base $file }}
{{- end }}
{{- end }}