---
title: Transcription of {{ metadata.file.name }}
date: {{ metadata.cli_args.date }}
tags:
  - transcription
  - audio
  - {{ metadata.model.name }}
file:
  path: "{{ metadata.file.path }}"
  duration: {{ "%.2f"|format(metadata.file.duration_seconds) if metadata.file.duration_seconds else "Unknown" }}
model:
  name: {{ metadata.model.name }}
  compute_type: {{ metadata.model.compute_type }}
transcription_time: {{ "%.2f"|format(metadata.transcription_time_seconds) }}
tool_version: {{ metadata.tool_version }}
---

# Transcription

{{ text }}
