{{/* Tmux configuration managed by chezmoi */}}
{{/* Configuration segments from .chezmoitemplates/tmux */}}

{{ template "tmux/server_options.tmux" . }}
{{ template "tmux/terminal_settings.tmux" . }}
{{ template "tmux/universal.tmux" . }}
{{ template "tmux/mouse_support.tmux" . }}
{{ template "tmux/history.tmux" . }}
{{ template "tmux/notifications.tmux" . }}
{{ template "tmux/window_panes.tmux" . }}
{{ template "tmux/windows.tmux" . }}
{{ template "tmux/copy_mode.tmux" . }}
{{ template "tmux/status_bar_styling.tmux" . }}
{{ template "tmux/popups.tmux" . }}
{{ template "tmux/popups_enhanced.tmux" . }}
{{ template "tmux/local_extensions.tmux" . }}

# Execute all plugin *.tmux files last (mimics TPM - runs them as bash scripts)
run-shell 'for plugin_file in #{d:current_file}/plugins/*/*.tmux; do [ -f "$plugin_file" ] && "$plugin_file"; done'
