#!/usr/bin/env bash
{{- if eq .local_bin_tools.termbud.installation "uv" }}
uv tool install --force "{{ .chezmoi.sourceDir }}/../python/termbud"
{{- else }}
uv tool uninstall termbud || true
{{- end }}
