{{- if .is_wsl }}
["Documents/Fonts/CascadiaCode"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/CascadiaCode.zip"
    exact = true
    stripComponents = 0
{{- end }}
