{{- $isWsl := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if contains "microsoft" (lower .chezmoi.kernel.osrelease) -}}
{{-     $isWsl = true -}}
{{-   end -}}
{{- end -}}

{{- $winHome := "" -}}
{{- $termSettings := "" -}}

{{- if $isWsl -}}
{{-   $winHome = (output "powershell.exe" "-NoProfile" "-Command" "echo $env:USERPROFILE" | trim) -}}
{{-   $termSettings = (output "powershell.exe" "-NoProfile" "-Command" "(Get-ChildItem -Path $env:LOCALAPPDATA\\Packages\\Microsoft.WindowsTerminal*\\LocalState\\settings.json -ErrorAction SilentlyContinue | Select-Object -First 1).FullName" | trim) -}}
{{- end -}}

[data]
    is_wsl = {{ $isWsl }}
    windows_home = {{ $winHome | quote }}
    terminal_settings_path = {{ $termSettings | quote }}
    nerd_font_name = "CaskaydiaCove Nerd Font"
