[tools]
bun = {{ .mise.global_tools.bun.version | quote }}
node = {{ .mise.global_tools.node.version | quote }}
pnpm = {{ .mise.global_tools.pnpm.version | quote }}
python = {{ .mise.global_tools.python.version | quote }}
rust = {{ .mise.global_tools.rust.version | quote }}
uv = {{ .mise.global_tools.uv.version | quote }}

[settings]
cache_prune_age = {{ .mise.settings.cache_prune_age | quote }}
disable_hints = {{ .mise.settings.disable_hints | toJson }}
http_retries = {{ .mise.settings.http_retries }}
install_before = {{ .mise.settings.install_before | quote }}
log_level = {{ .mise.settings.log_level | quote }}

[settings.npm]
package_manager = {{ .mise.settings.npm.package_manager | quote }}
