[".dotfiles/external/fzf-tab-completion"]
    type = "archive"
    url = "https://codeload.github.com/lincheney/fzf-tab-completion/zip/{{ .fzf_plugins.fzf_tab_completion.sha }}"
    exact = true
    stripComponents = 1

[".dotfiles/external/fzf-tab"]
    type = "archive"
    url = "https://codeload.github.com/Aloxaf/fzf-tab/zip/{{ .fzf_plugins.fzf_tab.sha }}"
    exact = true
    stripComponents = 1
