{{- with .tmux-powerline -}}
{{- if eq .installation "external-sources" }}
[".tmux-powerline"]
  type = "archive"
  url = "https://github.com/{{ .owner }}/{{ .repo }}/archive/{{ .commit }}.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h" # 1 week
{{- end }}
{{- end }}
