{{- $base := dig "github_releases" "base_url" "https://github.com" $ -}}
{{- $config := dict -}}
{{- range $key, $font := .fonts -}}
  {{- if eq $font.installation_method "chezmoi_external" -}}
    {{- $target := printf "NerdFonts/%s" $font.name -}}
    {{- $fontConfig := dict
        "type"     "archive"
        "url"      (printf "%s/ryanoasis/nerd-fonts/releases/download/%s/%s.tar.xz" $base $font.version $font.name)
        "exact"    true
        "checksum" (dict "sha256" $font.sha256)
    -}}
    {{- $_ := set $config $target $fontConfig -}}
  {{- end -}}
{{- end -}}
{{- if not (empty $config) -}}
{{- toToml $config -}}
{{- end -}}
