{{- with .meslo -}}
["NerdFonts/Meslo"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ .version }}/Meslo.tar.xz"
exact = true
checksum.sha256 = "{{ .sha256 }}"
{{- end -}}
