{{- $tools := dict -}}
{{- if hasKey . "mise" -}}
  {{- if hasKey .mise "global_tools" -}}
    {{- range $tool, $config := .mise.global_tools -}}
      {{- if eq (dig "installation" "mise" $config) "mise" -}}
        {{- if hasKey $config "postinstall" -}}
          {{- $_ := set $tools $tool (dict "version" $config.version "postinstall" $config.postinstall) -}}
        {{- else -}}
          {{- $_ := set $tools $tool $config.version -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $settings := dict -}}
{{- if hasKey . "mise" -}}
  {{- if hasKey .mise "settings" -}}
    {{- range $key, $value := .mise.settings -}}
      {{- $_ := set $settings $key $value -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $config := dict -}}
{{- if not (empty $tools) -}}
  {{- $_ := set $config "tools" $tools -}}
{{- end -}}
{{- if not (empty $settings) -}}
  {{- $_ := set $config "settings" $settings -}}
{{- end -}}

{{- if not (empty $config) -}}
{{- toToml $config -}}
{{- end -}}
