# chezmoi configuration file
# See: https://www.chezmoi.io/reference/configuration-file/

[git]
    autoCommit = false
    autoPush = false

[hooks.read-source-state.pre]
    command = "sh"
    args = ["{{ .chezmoi.sourceDir }}/tools/ensure_build.sh"]
