# chezmoi configuration file
# See: https://www.chezmoi.io/reference/configuration-file/

[git]
    autoCommit = false
    autoPush = false

[hooks.read-source-state.pre]
    command = "{{ .chezmoi.sourceDir }}/scripts/build_artifacts.sh"
